<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- お決まり文句 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <!-- SEO -->
    <title>TIP SENSU with Twitter | Twitterで投げ銭しよう</title>
    <meta name="keywords" content="">
    <meta name="description" content="投げ銭Bot Sensuを使用して、Twitterで投げ銭を行います。リンク対応、寄付募集リンク等にもご利用可能！">
    <meta name="author" content="Shino_JK">
    <!-- <link rel="canonical" href=""> -->

    <!-- OGP -->
    <meta property="og:site_name" content="TIP SENSU with Twitter">
    <meta property="og:title" content="TIP SENSU with Twitter | Twitterで投げ銭しよう">
    <meta property="og:description" content="投げ銭Bot Sensuを使用して、Twitterで投げ銭を行います。リンク対応、寄付募集リンク等にもご利用可能！">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://github.com/ShinoharaTa/TipSensuWithTwitter">
    <meta property="og:image" content="https://shinoharata.github.io/TipSensuWithTwitter/img/sensu_og.png">
    <!-- <meta property="fb:app_id" content="App-ID（15文字の半角数字）" /> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@SHINOHARATTT">
    <meta name="twitter:title" content="TIP SENSU with Twitter | Twitterで投げ銭しよう" />
    <meta name="twitter:description" content="投げ銭Bot Sensuを使用して、Twitterで投げ銭を行います。リンク対応、寄付募集リンク等にもご利用可能！" />
    <meta name="twitter:image" content="https://shinoharata.github.io/TipSensuWithTwitter/img/sensu_og.png">

    <!-- favicon編 -->
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico">

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/tipsensu.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- font awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>

<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; width: 0; height: 0;" width="0" height="0">
        <symbol viewBox="0 0 1024 1024" id="icon-sensu">
            <path class="icon-sensu" d="M511.825,226.25c-223.734,0-417.412,128.548-511.245,315.806L511.822,797.75l511.598-255.001
                    C929.719,355.114,735.836,226.25,511.825,226.25z" />
        </symbol>
    </svg>
    <nav class="bg-sensu text-white p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-sm-12 col-lg-2 col-xl-3"></div>
                <div class="col-md-10 col-sm-12 col-lg-8 col-xl-6">
                    <h3 class="">
                        <svg class="sensu-header">
                            <use xlink:href="#icon-sensu"></use>
                        </svg> Tip Sensu</h3>
                </div>
                <div class="col-md-1 col-sm-12 col-lg-2 col-xl-3"></div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-12 col-lg-2 col-xl-3"></div>
            <div id="formdata" class="col-md-10 col-sm-12 col-lg-8 col-xl-6">
                <div class="pt-3">
                    <h4>Your Twitter account.</h4>
                    <input type="text" class="form-control" v-model="name" placeholder="account">
                </div>
                <div class="pt-3">
                    <h5>QR Code</h5>
                    <button type="button" class="btn btn-info btn-block btn-lg" id="button" data-toggle="modal" data-target="#moneyListModal">Generate QR Code.</button>
                </div>
                <div class="pt-3">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <h5>Tip address</h5>
                        <button class="btn btn-outline-info btn-sm" v-on:click="urlCopy(url)">
                            <i class="far fa-copy"></i> Copy URL</button>
                    </div>
                    <textarea type="text" class="form-control" v-model="url" disabled></textarea>
                </div>
                <div class="pt-3">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <h5>Tip a tags (html)</h5>
                        <button class="btn btn-outline-info btn-sm" v-on:click="urlCopy(urlTipTag)">
                            <i class="far fa-copy"></i> Copy URL</button>
                    </div>
                    <textarea type="text" class="form-control" v-model="urlTipTag" disabled></textarea>
                </div>
                <!-- <div class="pt-3">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <button class="btn btn-outline-info btn-sm" v-on:click="urlCopy(urlTipTag)">
                            <i class="far fa-copy"></i> Copy URL</button>
                    </div>
                    <textarea type="text" class="form-control" v-model="urlTipTag" disabled></textarea>
                </div> -->
                <div class="pt-3">
                </div>
            </div>
            <div class="col-md-1 col-sm-12 col-lg-2 col-xl-3"></div>
        </div>
    </div>
    <div class="container text-center pt-5">
        <h6>
            <a href="https://github.com/ShinoharaTa/TipSensuWithTwitter">使い方、寄付リンクの設定方法(GitHub)</a>
        </h6>
        <h6>Copyright &copy; 2018
            <a href="https://shinoharata.github.io/TipSensuWithTwitter/?name=SHINOHARATTT">Shino</a>
        </h6>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="moneyListModal" tabindex="-1" role="dialog" aria-labelledby="moneyListModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="moneyListModalLabel">TIP Address</h5> -->
                    <h3 class="modal-title" id="moneyListModalLabel">Tip Sensu</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h1>
                        <svg class="sensu-large">
                            <use xlink:href="#icon-sensu"></use>
                        </svg>
                    </h1>
                    <div class="row p-3 text-center d-inline" id="tipQR">
                    </div>
                    <div class="pt-3">
                    </div>
                    <h5>TIP with Twitter Link</h5>
                    <div class="pt-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="./js/jquery.qrcode.min.js"></script> -->
    <script src="./js/jquery.qrcode.js"></script>
    <script src="./js/qrcode.js"></script>
    <script src="./js/gentipcontents.js"></script>
</body>

</html>